[submodule "OneDrive/Documents/task-management-system/OneDrive/Documents/task-management-system/server"]
	path = OneDrive/Documents/task-management-system/OneDrive/Documents/task-management-system/server
	url = https://github.com/JinXiannn/chunkytask.git
